<main-wrapper></main-wrapper>

<div class="block-wrapper white">
  <div class="container">
    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim distinctio possimus doloremque inventore ea molestiae eveniet debitis.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit porro amet ipsum, fugiat magnam beatae eaque perspiciatis vero saepe, deleniti sapiente ipsam similique est labore quasi, suscipit veniam excepturi, qui?</p>
  </div>
</div>

<div class="block-wrapper bg-primary">
  <div class="container">
    <div class="block-header">
      <h1 class="tc-secondary">About our love</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit nostrum, illum asperiores consectetur doloribus! Consectetur ipsum deserunt eum ea voluptate nisi voluptatibus optio, excepturi praesentium magni, odit eos veniam rem.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed blanditiis possimus itaque necessitatibus saepe sapiente accusamus eos eaque, ipsa debitis laborum, ipsam doloribus quos impedit. Odio, autem eum hic fugiat.</p>
    </div>
  </div>
</div>

<div class="block-wrapper gray">
  <div class="container">
    <div class="block-header">
      <h1 class="tc-primary">About us</h1>
    </div>
    <div class="block-body">
      <div class="row">
        <div class="col-12 col-md-6 col-xl-5 mx-xl-auto d-flex flex-column mb-5 mb-sm-0">
          <div class="image-wrapper">
            <img src="assets/image/moment.jpg" alt="">
          </div>
          <p>We have a lot of lovely memories and moments. They build us a connection and bring us together.</p>
          <a routerLink="memories" class="btn btn-primary mx-auto">Check them out</a>
        </div>
        <div class="col-12 col-md-6 col-xl-5 mx-xl-auto d-flex flex-column">
          <div class="image-wrapper">
            <img src="assets/image/milestone.jpg" alt="">
          </div>
          <p>We have loved for more than 1 year. Because of that, we have many milestones on our way. For example: first dating, first kiss,...</p>
          <a routerLink="milestones" class="btn btn-secondary mx-auto">See them</a>
        </div>
      </div>
    </div>
  </div>
</div>