.block-wrapper {
  padding: 50px 20px;

  @media (min-width: 48em) {
    padding: 150px;
  }

  &.white {
    background-color: #fff;
  }

  &.gray {
    background-color: #eff2f2;
  }
}

.block-header {

  h1 {
    display: block;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
  }
}


.image-wrapper {
  overflow: hidden;
  width: 100%;
  height: 250px;

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}