<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 col-xl-4">
      <div class="item px-5 px-sm-0">
        <div class="item-image">
          <i class="fa fa-user"></i>
        </div>
        <div class="item-content">
          Pham Van Tri
        </div>
      </div>
      <div class="item px-5 px-sm-0">
        <div class="item-image">
          <i class="fa fa-address-card"></i>
        </div>
        <div class="item-content">
          Web developer (Full-stack)
        </div>
      </div>
      <div class="item px-5 px-sm-0">
        <div class="item-image">
          <i class="fa fa-graduation-cap"></i>
        </div>
        <div class="item-content">
          Duy Tan University, Viet Nam
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-xl-4">
      <div class="item px-5 px-sm-0">
        <div class="item-image">
          <i class="fa fa-map-marker"></i>
        </div>
        <div class="item-content">
          <span class="hidden-xs-down">Hai Chau district, </span>Da Nang city, Viet Nam
        </div>
      </div>
      <div class="item px-5 px-sm-0">
        <div class="item-image">
          <i class="fa fa-phone"></i>
        </div>
        <div class="item-content">
          +84 0165 9331 448
        </div>
      </div>
      <div class="item px-5 px-sm-0">
        <div class="item-image">
          <i class="fa fa-envelope-o"></i>
        </div>
        <div class="item-content">
          pvtri96@gmail.com
        </div>
      </div>
    </div>
    <div class="col-12 col-md-12 col-xl-4 mt-5 mt-xl-0 d-flex">
      <div class="mx-auto my-auto">
        <h5 class="text-center">Follow me on</h5>
        <div class="row">
          <div class="link mr-1">
            <a href="https://www.facebook.com/cuquay189" target="_blank"><img src="assets/image/facebook.svg" alt=""></a>
          </div>
          <div class="link ml-1 mr-1">
            <a href="https://plus.google.com/103656040286080972993" target="_blank"><img src="assets/image/google-plus.svg" alt=""></a>
          </div>
          <div class="link ml-1">
            <a href="https://twitter.com/" target="_blank"><img src="assets/image/twitter.svg" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
