:host {
    background: #282C2F;
    color: #fff;
    padding: 50px 20px;
    font-size: 12px;

    @media (min-width: 48em) {
        padding: 50px 100px;
    }
}

.item {
    margin: 10px;
    display: flex;

    @media (max-width: 350px) {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
}

.item-image {

    i {
        border-radius: 50%;
        width: 36px;
        height: 36px;
        background: #33383B;
        display: flex;
        font-size: 1.2em;

        &::before {
            margin: auto;
        }
    }
}

.item-content {
    margin-left: 20px;
    align-self: center;
}

.link {
    margin: auto;
    padding: 10px;

    img {
        height: 35px;
        transition: all 0.3s;
    }

    &:hover img {
        transform: scale(1.2);
    }
}
