<nav class="navbar fixed-top navbar-toggleable navbar-inverse bg-faded" [class.navbar-dark]="darkNavBar">
  <div class="container">
    <a class="navbar-brand" routerLink=""><i class="fa fa-home"></i> <span class="hidden-sm-up">Home</span></a>

    <button class="navbar-toggler navbar-toggler-right" type="button" 
        (click)="isCollapsed = !isCollapsed"
        aria-controls="navbarSupportedContent" [attr.aria-expanded]="!isCollapsed" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="!isCollapsed">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link pl-4" [routerLink]="['memories']" [routerLinkActive]="['active']">Memories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pl-4" [routerLink]="['milestones']" [routerLinkActive]="['active']">Milestones</a>
        </li>
      </ul>
    </div>
  </div>
</nav>