nav {
    background: rgba(0, 0, 0, 0.4);
    transition: all 0.3s;
    padding-top: 12px;
    padding-bottom: 12px;
}

.navbar-dark {
    background: rgba(0, 0, 0, 0.8);
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 16px;
}

@media (max-width: 48em) {
    
    .container {
        margin-left: 20px;
        margin-right: 20px;
    }
}