<div class="main-wrapper">
  <div class="image" [ngStyle]="{ 'background-image': 'url(' + slideshowIMG[0] + ')'}">
    <div class="shadow">
      <div class="content">
        <div class="main-content">
          <h1>We have</h1>
          <h4>
            <span>{{ years == 0 ? '' : years == 1 ? years + ' year' : years + ' years' }}</span>
            <span>{{ months == 0 ? '' : months == 1 ? months + ' month' : months + ' months' }}</span>
            <span>{{ days == 0 ? '' : days == 1 ? days + ' day' : days + ' days' }}</span>
          </h4>
          <h5>
            <span>{{ hours == 0 ? '' : hours == 1 ? hours + ' hour' : hours + ' hours' }} </span>
            <span>{{ minutes == 0 ? '' : minutes == 1 ? minutes + ' minute' : minutes + ' minutes' }} </span>
            <span class="d-block">{{ seconds <= 1 ? seconds + ' second' : seconds + ' seconds' }} </span>
          </h5>
          <h1>together</h1>
        </div>
      </div>
    </div>
  </div>
</div>
