
.image {
  width: 100%;
  height: 100vh;
  background-size: cover;

  .shadow {
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    display: flex;
  }

  .content {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    margin: auto;
    position: relative;
    background: rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 300px;

    @media (min-width: 48em) {
      width: 400px;
      height: 400px;
    }

    .main-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    h1 {
      @media (max-width: 48em) {
        font-size: 2em;
      }
    }

    span {
      @media (max-width: 48em) {
        display: block;
        font-size: 0.8em;
      }
    }

    * {
      margin: auto;
      text-align: center;
    }
  }
}
