<div class="wrapper">
  <div class="vertical-line" [style.height.px]="lineHeight"></div>
  <div *ngFor="let article of articles; let i = index" class="point" [style.top.px]="article.position">
    <div class="point-block" [ngClass]="i % 2 == 0 ? 'left' : 'right'">
      <div class="block-header">{{ article.title }}</div>
      <div class="block-body">{{ article.content }}</div>
      <div class="block-footer">{{ article.footer }}</div>
    </div>
    <div class="date-block">
      {{ article.date }}
    </div>
  </div>
</div>