.wrapper {
    position: relative
}

.vertical-line {
    border-right: 2px solid #000;
    border-left:  2px solid #000;
    width: 0;
    margin: auto;
}

.point {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 500px;
    width: 25px;
    height: 25px;
    background: #fff;
    cursor: pointer;
    border: 2px solid #000;
}

.point-block {
    position: absolute;
    top: -15px;
    background: #34495e;
    color: #ecf0f1;
    border-radius: 4px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.3);
    cursor: default;
    min-width: 120px;
    max-width: 200px;
    font-size: 0.8em;
    padding: 6px 12px;
    width: calc(50vw - 45px);

    @media (min-width: 48em) {
        min-width: 350px;
        max-width: 450px;
        padding: 12px 24px;
        width: auto;
    }

    .block-header {
        font-size: 1em;
        font-weight: 700;

        @media (min-width: 48em) {
            font-size: 1.5em;
        }
    }

    &.right {
        left: calc(100% + 30px);
    }

    &.left {
        right: calc(100% + 30px);
    }

    @media (min-width: 48em) {
        &.right {
            left: calc(100% + 35px);
        }

        &.left {
            right: calc(100% + 35px);
        }
    }
}

.point-block:after {
    content: "";
    position: absolute;
    top: 10px;
    left: 50px;
    border-width: 15px 0 0 15px;
    border-style: solid;
    border-color: #34495e transparent;
    display: block;
    width: 0;
}

.point-block.right:after {
    left: -29px;
    border-width: 15px 30px 0 0;
    border-color: transparent #34495e;

}

.point-block.left:after {
    right: -29px;
    left: auto;
    border-width: 15px 0 0 30px;
    border-color: transparent #34495e;
}

.point-block {
    display: none;
}

.point:hover {
    .point-block {
        display: block
    }
}

.date-block {
    position: absolute;
    top: calc(100% + 4px);
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.6em;
    font-weight: 700;
    padding: 4px 8px;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;

    @media (min-width: 48em) {
        font-size: 0.8em;
    }
}