<ngb-carousel>
  <template ngbSlide *ngFor="let slide of slides">
    <div class="d-flex flex-column w-100">
      <img [src]="'assets/image/memories/' + slide.image" alt="Random first slide">
      <div class="carousel-caption">
        <h3>{{ slide.title }}</h3>
        <p>{{ slide.content }}</p>
      </div>
    </div>
  </template>
</ngb-carousel>
