:host {
  min-height: 100vh;
  display: flex;
}

ngb-carousel {
  width: 100vw;

  &, img {
    height: 100vh;
  }

  img {
    width: 100%;
    object-fit: cover;
  }

  .carousel-caption {
    background: rgba(0, 0, 0, 0.6);
    left: auto;
    right: auto;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 100%;

    @media (min-width: 48em) {
      padding: 50px 15%;
      transform: translateY(100%);
    }
  }

  img, .carousel-caption {
    transition: all 0.6s ease;
  }

  img:hover ~ .carousel-caption, .carousel-caption:hover {
    transform: translateY(0);
  }

  img:hover {
    transform: scale(1.1);
  }
}