<h4>Our milestones</h4>
<ul>
  <li>
    <a href="">First dating</a>
  </li>
  <li>
    <a href="">Second dating</a>
  </li>
  <li>
    <a href="">Third dating</a>
  </li>
  <li>
    <a href="">First kiss</a>
  </li>
  <li>
    <a href="">My first birthday with you</a>
  </li>
</ul>