<div class="content">
    <div class="container">
        <div class="sidebar">
            <milestone-sidebar></milestone-sidebar>
        </div>
        <div class="body">
            <milestone-body></milestone-body>
        </div>
    </div>
</div>