.content {
    min-height: 100vh;
    padding-top: 56px;
}

.container {
    display: flex;
    padding: 30px 0;
}

.sidebar {
    display: none;
}

.body {
    width: 100%;
}

@media (min-width: 48em) {

    .sidebar {
        display: block;
        flex: 1 0 200px;
    }

    .body {
        flex: 1 0 calc(100% - 200px);
    }

}
