/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";

.tc-primary {
    color: #ec6c52;
}

.tc-secondary {
    color: #fff;
}

.bg-primary {
    background-image: url(assets/image/big_line_bg.jpg);
    color: #fff;
}

.btn-primary {
    background-color: #ec6c52;
    border-color: #ec6c52;
}

.btn-primary:hover {
    background-color: #d35400;
    border-color: #d35400;
}

a {
    color: #ec6c52;
}

a:hover, a:focus {
    color: #d35400;
}

img {
    background: url(assets/image/loading.svg) center no-repeat;
    transition: all 0.6s;
}

img:hover {
    transform: scale(1.1);
}